<a href="/#/dashboard">Dashboard</a> | <a href="/#/login">Logout</a>

<h4>Welcome, {{currentUser.name}}</h4>
<h1>Doctor's Appointments</h1>


<h4>Search</h4>
Patient: <input type="text" ng-model = "anything.name">
Symptom: <input type="text" ng-model = "anything.symptom">
<br>
<br>
<table class = "table">
<thead>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Patient Name</th>
        <th>Symptoms</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat = "appointment in appointments | orderBy: 'date' |filter:anything:strict">
        <td>{{appointment.date | date : format : yyyy}}</td>
        <td>{{appointment.time | date: "HH:mm:ss"}}</td>
        <td>{{appointment.name}}</td>
        <td>{{appointment.symptom}}</td>
        <td ng-show="isPatient(appointment, currentUser)"><button ng-click="delete(appointment)">Cancel</button></a></td>
    </tr>
</tbody>
</table>
<br>
<br>
<br>
<br>

<a class="btn btn-primary" href="/#/new_appointment">Schedule an Appointment</a>


