<h1>New Appointment</h1>
<h4>you are: </h4><p>{{currentUser.name}}</p>

<div id="hey" ng-show=tooMany()>That date is all booked up! Please try another.</div>

<form class = "form" ng-submit="create(newAppointment, currentUser, appointments)">
    <br>
    Date: <input type="date" ng-model="newAppointment.date" placeholder="yyyy-MM-dd" min="2016-07-27" max="2020-07-26" required >
    <br>
    Time: <input type="time" ng-model="newAppointment.time" placeholder="HH:mm:ss" min="08:00:00" max="17:00:00" required>
    <br>
    Symptoms: <textarea rows="3" ng-model="newAppointment.symptom"  minlength="3" required></textarea>
    <input type="submit" value="Schedule" class="btn btn-primary">
    <a class="btn btn-danger" href="/#/dashboard">Cancel</a>
</form>
